<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @course.tutor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @course.start_date %>
        <% if @course.days == false || @course.end_date != nil %>
        	to <%= @course.end_date %>
        <% end %>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @course.venue %>
</p>

<p>
  <strong>Cost:</strong>
  <% if @course.price == nil || @course.cost == false || @course.price == 0.0 %>
        	<td> Free </td>
        <% else %>
        	<td><%= @course.currency %><%= @course.price %></td>
        <% end %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @course.tag %>
</p>

<p>
  <strong>Banner:</strong>
  <div style="float: left"><%= image_tag @course.avatar.medium %></div>
</p>

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<%= link_to(edit_course_path(@course), class: "btn") do %>	Edit  <% end %>

 &nbsp;&nbsp;
<%= link_to(all_courses_path(@course), class: "btn") do %>	Back  <% end %>