<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
	<li class="dropdown">
	<%= link_to(raw("Sign In" +("<b class= 'caret'></b>")), "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}) %>
		<div class="dropdown-menu authform" >
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
			    <div class="form-group">
			      <%- if devise_mapping.registerable? %>
				      <div style="margin-bottom: 3px">
				        Don't have an account yet? <%= link_to  'Sign up', new_registration_path(resource_name) %>
				      </div>
			      <% end -%>
			      <%= f.label :email %>
			      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
			    </div>
			    <div class="form-group">
			      <%- if devise_mapping.recoverable? %>
			        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right'  %>
			      <% end -%>
			      <%= f.label :password %>
			      <%= f.password_field :password, class: 'form-control' %>
			    </div>
			      <%= f.submit 'Log in', :class => 'button right' %>
			      <% if devise_mapping.rememberable? -%>
			        <div class="checkbox">
			          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
			        </div>
			      <% end -%>
			  <% end %>
        </div>
	</li>
  
  <li><%= link_to 'Find a class', all_courses_path %></li>
  <li><%= link_to 'Teach a class', new_course_path %></li>
  <%# <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Blog', root_path %></li>
  
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
